body{
    background-image: linear-gradient(45deg, #C27668, #F8B9AA, #C27668);
}

#agendar{

        background-image: linear-gradient(to bottom, #FFFFFF, #F8B9AA);
    
}

#clientes{

    background-image: linear-gradient(to bottom, #FFFFFF, #F8B9AA);

}